<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom NER for identifying Bird Names from User-generated short texts on social media.</title>
</head>
<body>
    <center>
   <h3>Custom NER for identifying Bird Names.</h3>  
    <form action="/ner">
        <label for="lname">Enter Tweet ID: </label><br>
        <textarea id="tweet_id" name="tweet_id"></textarea><br><br>
        <input type="submit" value="Submit">
    </form> 
    <p>
    <p>Model last updated: September 5, 2022.</p>
    <p>Version 1.0</p>
    <p><a href="https://www.anirbansaha.com/custom-named-entity-recognition-ner-model-to-detect-bird-names-from-user-generated-texts-on-social-media-using-natural-langauge-processing-nlp-techniques-and-the-package-spacy/">Blog post</a>
    <p>Developer: Anirban Saha.</p>
 </center>
</body>
</html>
